In [3]:
import pandas as pd
import matplotlib as plt
import numpy as np
import flask

In [4]:
print("Hello world")

Hello world

In [10]:
A=[1,2,3,4,5,6,7,8,9,10]
import pandas as pd

B = {"Name": "Alok Kumar Panda", "Age": "21", "Birth": "04/05/2001", "E-mail": "alokkumarpanda72@gmail.com"}

df = pd.DataFrame.from_dict(B, orient="index", columns=["Value"])

In [11]:
df

                             Value
Name              Alok Kumar Panda
Age                             21
Birth                   04/05/2001
E-mail  alokkumarpanda72@gmail.com